div.formContainer {
  padding-left: 20px !important;
  width: 90vw !important;
}

div.formColumn {
  padding: 20px;
}

.mat-input-element {
  font-size: 0.8em !important;
}

.errors {
  color: #8B1E1E;
  border: 2px solid red;
  padding: 10px;
  width: 98%;
  font-size: 90%;
  background-color: #F8E1E4;
}

img.imgPanel {
    border: 2px solid rgba(0,0,0,0.1); 
    width: 100px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}